:80 {
    log {
        format console
    }

    root * /var/www/html

    php_fastcgi web:9000 {
        root /var/www/html
        try_files {path} /lib.php
    }

    file_server

    handle_errors {
        respond "{err.status_code} {err.status_text}"
    }
}